/* Import Comic Sans MS font */
@import url("https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply w-full m-0 p-0;
  }

  body {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive, -apple-system,
      BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
